@import '/src/assets/scss/variables.scss';

.end {
    background-image: url('../public/logos/bg1.png');
    background-size: cover;
    width: $Width;
    height: $Height;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.end-text {
    margin: 200px 0 50px 0;
    font-size: 64px;
    // color: black;
    color: $black;
}